
body {
    font-family: 'Raleway', sans-serif;
    height: 98%;
    pointer-events: none;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 30%;
    color: #192022;
    cursor: url(../img/konfetti.png), auto;
}

section {
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1, h2 {
    font-family:'Lazer84';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.05em;
    
}

h1 {
    color: white;
    font-size: 2.5em;
    text-shadow: 3px 1px 1px black;
}

h2 {
    color: #192022;
    text-shadow: 3px 1px 1px white;

}

div#home {
    text-align: center;
}

div#projects {
    margin-top: 2em;
}

h1 {
    font-weight: 100;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    font-weight: lighter;
}

h2.about {
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-left: 2rem;
}

.highlight {
    padding-inline-start: 0.3em;
    padding-inline-end: 0.3em;
}

.red {
    background: rgba(227, 134, 186, 0.7);
}

.blue {
    background: rgba(156, 136, 244, 0.7);
}

canvas {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    pointer-events: all;
    background-image: linear-gradient(to right bottom, #f4c2de, #eec0e2, #e7bee7, #dfbdeb, #d5bcef, #c9c2f6, #bcc7fb, #b0cdfe, #a7d9fe, #a8e3fa, #b1ebf4, #c1f2ef);
}

.header {
    margin-top: 20px;
    text-align: right;
    margin-right: 130px;
    pointer-events: all;
}

.content {
    pointer-events: none;
}

a {
    pointer-events: all;
    text-decoration: none;
    color: inherit;
}

.social-links a:hover, a:hover {
    color: rgba(227, 134, 186);
}

div#projects a {
    border-bottom: 0.2em solid rgba(227, 134, 186, 0.7);
}

.social-links {
    display: flex;
    justify-content: space-evenly;
}

.social-links a {
    font-size: 1.8em;
    color: #192022;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-github::before {
    content: "\f09b";
}

.fa-linkedin::before {
    content: "\f08c";
}

.fa-envelope::before {
    content: "\f0e0";
}

.fa-globe::before {
    content: "\f0ac";
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.fa, .fas {
    font-weight: 900;
}

@media (min-width: 700px) {
    body {
      font-size: x-large;
      margin-top: 10%;
    };
  }
  
@media (min-width: 1100px) {
    body { font-size: xx-large; }
}

@font-face {
    font-family: "Lazer84";
    src: url("./Lazer84.ttf") format('truetype');
}