html, body {
    margin: 0;
    width:  100%;
    overflow: hidden;
    display: block;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 98%;
    pointer-events: none;
}

section {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

::selection {
    background: #D79922;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;    
    line-height: 1.3;
}

h1 {
    font-size: 5vmax;
    font-weight: 100;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    font-size: 4vmax;
    font-weight: lighter;
}

h2.about {
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-left: 2rem;
}

.highlight {
    padding-inline-start: 0.3em;
    padding-inline-end: 0.3em;
}

.red {
    background: rgba(245, 117, 97, 0.67);
}

.blue {
    background: rgba(196, 203, 227, 0.67);
}

canvas {
    z-index: -1;
    background-color: #f2f0eb;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    pointer-events: all;
}

.header {
    margin-top: 20px;
    text-align: right;
    margin-right: 130px;
    pointer-events: all;
}

.content {
    pointer-events: none;
}

.intro {
    font-size: xx-large;
    margin: 8em;
}

.social-links {
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    pointer-events: all;
}

.social-links a {
    font-size: 1.8em;
    color: rgba(0, 0, 0, 0.7);
}

.social-links a:hover {
    color: #D79922;
}

.fa-github::before {
    content: "\f09b";
}

.fa-linkedin::before {
    content: "\f08c";
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.fa-envelope::before {
    content: "\f0e0";
}

.fa, .fas {
    font-weight: 900;
}

img.flag {
    position: absolute;
    top: 0;
    right: 0;
    height: 18%;
    max-height: 150px;
}