html, body {
    margin: 0;
    width:  100%;
    overflow: hidden;
    display: block;
}

body {
    
    font-family: 'Raleway', sans-serif;
    height: 98%;
    pointer-events: none;
}

::selection {
    background: #D79922;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;    
    font-size: 5vmax;
    font-weight: 100;
}

.highlight {
    background: #F13C20;
    border-radius: 50%;
    color:#f2f0eb;
    padding: 10px;
}

canvas {
    z-index: -1;
    background-color: #f2f0eb;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    pointer-events: all;
}

.header {
    margin-top: 20px;
    text-align: right;
    margin-right: 130px;
    pointer-events: all;
}

.content {
    pointer-events: none;
}